In [2]:
3+7

10

In [3]:
3*2

6

In [4]:
5/2

2.5

In [5]:
4/2

2.0

In [6]:
2 * 3 + 1

7

In [7]:
4.321/3+10

11.440333333333333

In [8]:
4.321/(3+10)

0.3323846153846154

In [9]:
3-1+1

3

In [10]:
3

3

In [11]:
2**3

8

In [12]:
2**4

16

In [13]:
14//2

7

In [14]:
14%2

0

In [26]:
abs(-4)

4

In [27]:
abs(4)

4

In [21]:
abs(-3.4)

3.4

In [22]:
min(6,-2)

-2

In [23]:
max(6,-2)

6

In [24]:
min(2,-4,6,-2)

-4

In [25]:
max(12,26.5,3.5)

26.5

In [35]:
#  2.1 (a)
1+2+3+4+5

15

In [37]:
# (b)
(23+19+31)/(3)

24.333333333333332

In [38]:
# (c)
403 // 73

5

In [39]:
# (d)
403 % 73

38

In [40]:
# (e)
2**10

1024

In [42]:
# (f)
a = 54-57
abs(a)

3

In [41]:
# (g)
min(34.99,29.95,32.50)

29.95

In [43]:
2<3

True

In [44]:
3<2

False

In [45]:
5 - 1  > 2 + 1

True

In [46]:
3 == 3

True

In [47]:
3+ 5 == 4 + 4

True

In [48]:
3 == 5 -3

False

In [49]:
3 <= 4

True

In [50]:
3 >= 4

False

In [51]:
3 != 4

True

In [52]:
# 2.2 (a)
2 + 2 < 4

False

In [53]:
# (b)
7 // 3 == 1 + 1

True

In [54]:
# (c)
3**2 + 4**2 == 25

True

In [55]:
# (d)
2 + 4 + 6 > 12

False

In [64]:
# (e)
1387 % 19 == 0

True

In [65]:
# (f)
31 % 2 == 0

False

In [66]:
# (g)
min(34.99,29.95,31.50) < 30.00

True

In [67]:
2 < 3 and 4 > 5

False

In [70]:
2 < 3 and True

True

In [71]:
3 < 4 or 4 < 3

True

In [72]:
 3 < 2 or 2 < 1

False

In [73]:
 not (3 < 4)

False

In [75]:
x = 4
x

4

In [79]:
4 * x

16

In [77]:
counter = 4 * x
counter

16

In [80]:
# 2.3 (a)
a = 3
a

3

In [81]:
# (b)
b = 4
b

4

In [82]:
# (c)
c = a * a + b * b
c

25

In [84]:
x = 7 
x

7

In [86]:
s = 'hello'
s

'hello'

In [87]:
s == 'hello'

True

In [88]:
t = 'world'
t

'world'

In [89]:
s != t

True

In [90]:
s == t

False

In [91]:
s < t

True

In [92]:
s > t

False

In [93]:
s + t

'helloworld'

In [94]:
s + ' ' + t

'hello world'

In [98]:
3 * 'A'

'AAA'

In [95]:
 'hello ' * 2

'hello hello '

In [99]:
30 * '-'

'------------------------------'

In [100]:
'h' in s

True

In [101]:
'g' in s

False

In [102]:
'll' in s

True

In [103]:
len(s)

5

In [104]:
s[0]

'h'

In [105]:
s[1]

'e'

In [106]:
s[2]

'l'

In [109]:
s = '0123456789'
s

'0123456789'

In [110]:
# 2.5 (a)
s[0]

'0'

In [111]:
# (b)
s[1]

'1'

In [112]:
# (c)
s[6]

'6'

In [113]:
# (d)
s[8]

'8'

In [114]:
# (e)
s[9]

'9'

In [115]:
s[-1]

'9'

In [116]:
s[-2]

'8'

In [117]:
pets = ['goldfish', 'cat', 'dog']
pets

['goldfish', 'cat', 'dog']

In [118]:
things = ['one', 2, [3, 4]] 
things

['one', 2, [3, 4]]

In [120]:
pets[0]

'goldfish'

In [121]:
pets[2]

'dog'

In [122]:
pets[-1]

'dog'

In [124]:
pets + pets

['goldfish', 'cat', 'dog', 'goldfish', 'cat', 'dog']

In [123]:
pets * 2

['goldfish', 'cat', 'dog', 'goldfish', 'cat', 'dog']

In [125]:
'rabbit' in pets

False

In [127]:
'dog' in pets

True

In [128]:
 lst = [23.99, 19.99, 34.50, 120.99]
min(lst)

19.99

In [129]:
max(lst)

120.99

In [130]:
sum(lst)

199.46999999999997

In [13]:
# 2.6
words = ['bat', 'ball', 'barn', 'basket', 'badminton'] 
words[0],words[-1]

('bat', 'badminton')

In [16]:
pets = ['goldfish', 'cat', 'dog']
pets[1] = 'cymric cat'
pets

['goldfish', 'cymric cat', 'dog']

In [25]:
days = ('Mo', 'Tu', 'We') 
days

('Mo', 'Tu', 'We')

In [26]:
days = 'Mo', 'Tu', 'We', 'Th'
days

('Mo', 'Tu', 'We', 'Th')

In [27]:
'Fr' in days

False

In [28]:
week = days + ('Fr', 'Sa', 'Su') 
week

('Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su')

In [30]:
len(week)

7

In [38]:
2*week

('Mo',
 'Tu',
 'We',
 'Th',
 'Fr',
 'Sa',
 'Su',
 'Mo',
 'Tu',
 'We',
 'Th',
 'Fr',
 'Sa',
 'Su')

In [39]:
days[2]

'We'

In [40]:
 ('Mo'+'Tu')*3

'MoTuMoTuMoTu'

In [41]:
'Mo'+('Tu'*3)

'MoTuTuTu'

In [45]:
numbers = [6, 9, 4, 22]
min(numbers)

4

In [46]:
pets.append('guinea pig')
pets

['goldfish', 'cat', 'dog', 'guinea pig']

In [49]:
pets.reverse()
pets

['guinea pig', 'dog', 'cat', 'goldfish']

In [51]:
pets.sort()
pets

['cat', 'dog', 'goldfish', 'guinea pig']

In [53]:
lst = [4, 2, 8, 5]
lst.sort()
lst

[2, 4, 5, 8]

In [71]:
# 2.7 (a)
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2] 
grades[7]

6

In [74]:
# (b)
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2] 
grades.remove(2)
grades.insert(8,4)
grades

[9, 7, 7, 10, 3, 9, 6, 6, 4]

In [76]:
# (c)
max(grades)

10

In [78]:
# (d)
grades.sort()
grades

[3, 4, 6, 6, 7, 7, 9, 9, 10]

In [85]:
# (e)
sum(grades) / len(grades)

6.777777777777778

In [80]:
type([1, 1, 2, 3, 5, 8])

list

In [83]:
a = 3
type(a)

int

In [86]:
# 2.8 (a)
((2 + 3) == 4) or (a >= 5)

False

In [87]:
# (b)
(((lst[1]) * (-3)) < (-10)) == 0

False

In [88]:
# (c)
(((lst[1]) * (-3)) < (-10)) in [0, True]

True

In [89]:
# (d)
2 * (3**2)

18

In [90]:
# (e)
(4 / 2) in [1, 2, 3]

True

In [96]:
# 2.9 (a)
type(False + False)

int

In [95]:
# (b)
type(2 * 3**2.0)

float

In [98]:
# (c)
type(4 // 2 + 4 % 2)

int

In [97]:
# (d)
type(2 + 3 == 4 or 5 >= 5)

bool

In [107]:
# 2.10 (a)
import math
a = int(input("Enter the value of the a "))
b = int(input("Enter the value of the b "))
c = math.sqrt(a**2 + b**2)
print(c)

Enter the value of the a 3
Enter the value of the b 4
5.0

In [110]:
# (b)
import math
a = int(input("Enter the value of the a "))
b = int(input("Enter the value of the b "))
c = math.sqrt(a**2 + b**2) ==5
print(c)

Enter the value of the a 5
Enter the value of the b 6
False

In [112]:
# (c)
from math import pi
a = int(input("Enter the value of a "))
b = math.pi * a**2
print(b)

Enter the value of a 2
12.566370614359172

In [116]:
# (d)
a = int(input("Enter the value of a "))
b = int(input("Enter the value of b "))
x = int(input("Enter the value of x "))
y = int(input("Enter the value of y "))
r = int(input("Enter the value of r "))
cen = (x - a)**2 + (y - b)**2 < r**2
print("Is the circle is inside the center?",cen)

Enter the value of a 100
Enter the value of b 200
Enter the value of x 109
Enter the value of y 50
Enter the value of r 80
Is the circle is inside the center? False