In [2]:
3+7

10

In [3]:
3*2

6

In [4]:
5/2

2.5

In [5]:
4/2

2.0

In [6]:
2 * 3 + 1

7

In [7]:
4.321/3+10

11.440333333333333

In [8]:
4.321/(3+10)

0.3323846153846154

In [9]:
3-1+1

3

In [10]:
3

3

In [11]:
2**3

8

In [12]:
2**4

16

In [13]:
14//2

7

In [14]:
14%2

0

In [26]:
abs(-4)

4

In [27]:
abs(4)

4

In [21]:
abs(-3.4)

3.4

In [22]:
min(6,-2)

-2

In [23]:
max(6,-2)

6

In [24]:
min(2,-4,6,-2)

-4

In [25]:
max(12,26.5,3.5)

26.5

In [35]:
#  2.1 (a)
1+2+3+4+5

15

In [37]:
# (b)
(23+19+31)/(3)

24.333333333333332

In [38]:
# (c)
403 // 73

5

In [39]:
# (d)
403 % 73

38

In [40]:
# (e)
2**10

1024

In [42]:
# (f)
a = 54-57
abs(a)

3

In [41]:
# (g)
min(34.99,29.95,32.50)

29.95

In [43]:
2<3

True

In [44]:
3<2

False

In [45]:
5 - 1  > 2 + 1

True

In [46]:
3 == 3

True

In [47]:
3+ 5 == 4 + 4

True

In [48]:
3 == 5 -3

False

In [49]:
3 <= 4

True

In [50]:
3 >= 4

False

In [51]:
3 != 4

True

In [52]:
# 2.2 (a)
2 + 2 < 4

False

In [53]:
# (b)
7 // 3 == 1 + 1

True

In [54]:
# (c)
3**2 + 4**2 == 25

True

In [55]:
# (d)
2 + 4 + 6 > 12

False

In [64]:
# (e)
1387 % 19 == 0

True

In [65]:
# (f)
31 % 2 == 0

False

In [66]:
# (g)
min(34.99,29.95,31.50) < 30.00

True

In [67]:
2 < 3 and 4 > 5

False

In [70]:
2 < 3 and True

True

In [71]:
3 < 4 or 4 < 3

True

In [72]:
 3 < 2 or 2 < 1

False

In [73]:
 not (3 < 4)

False

In [75]:
x = 4
x

4

In [79]:
4 * x

16

In [77]:
counter = 4 * x
counter

16

In [80]:
# 2.3 (a)
a = 3
a

3

In [81]:
# (b)
b = 4
b

4

In [82]:
# (c)
c = a * a + b * b
c

25

In [84]:
x = 7 
x

7

In [86]:
s = 'hello'
s

'hello'

In [87]:
s == 'hello'

True

In [88]:
t = 'world'
t

'world'

In [89]:
s != t

True

In [90]:
s == t

False

In [91]:
s < t

True

In [92]:
s > t

False

In [93]:
s + t

'helloworld'

In [94]:
s + ' ' + t

'hello world'

In [98]:
3 * 'A'

'AAA'

In [95]:
 'hello ' * 2

'hello hello '

In [99]:
30 * '-'

'------------------------------'

In [100]:
'h' in s

True

In [101]:
'g' in s

False

In [102]:
'll' in s

True

In [103]:
len(s)

5

In [104]:
s[0]

'h'

In [105]:
s[1]

'e'

In [106]:
s[2]

'l'

In [109]:
s = '0123456789'
s

'0123456789'

In [110]:
# 2.5 (a)
s[0]

'0'

In [111]:
# (b)
s[1]

'1'

In [112]:
# (c)
s[6]

'6'

In [113]:
# (d)
s[8]

'8'

In [114]:
# (e)
s[9]

'9'

In [115]:
s[-1]

'9'

In [116]:
s[-2]

'8'

In [117]:
pets = ['goldfish', 'cat', 'dog']
pets

['goldfish', 'cat', 'dog']

In [118]:
things = ['one', 2, [3, 4]] 
things

['one', 2, [3, 4]]

In [120]:
pets[0]

'goldfish'

In [121]:
pets[2]

'dog'

In [122]:
pets[-1]

'dog'

In [124]:
pets + pets

['goldfish', 'cat', 'dog', 'goldfish', 'cat', 'dog']

In [123]:
pets * 2

['goldfish', 'cat', 'dog', 'goldfish', 'cat', 'dog']

In [125]:
'rabbit' in pets

False

In [127]:
'dog' in pets

True

In [128]:
 lst = [23.99, 19.99, 34.50, 120.99]
min(lst)

19.99

In [129]:
max(lst)

120.99

In [130]:
sum(lst)

199.46999999999997

In [13]:
# 2.6
words = ['bat', 'ball', 'barn', 'basket', 'badminton'] 
words[0],words[-1]

('bat', 'badminton')

In [16]:
pets = ['goldfish', 'cat', 'dog']
pets[1] = 'cymric cat'
pets

['goldfish', 'cymric cat', 'dog']

In [25]:
days = ('Mo', 'Tu', 'We') 
days

('Mo', 'Tu', 'We')

In [26]:
days = 'Mo', 'Tu', 'We', 'Th'
days

('Mo', 'Tu', 'We', 'Th')

In [27]:
'Fr' in days

False

In [28]:
week = days + ('Fr', 'Sa', 'Su') 
week

('Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su')

In [30]:
len(week)

7

In [38]:
2*week

('Mo',
 'Tu',
 'We',
 'Th',
 'Fr',
 'Sa',
 'Su',
 'Mo',
 'Tu',
 'We',
 'Th',
 'Fr',
 'Sa',
 'Su')

In [39]:
days[2]

'We'

In [40]:
 ('Mo'+'Tu')*3

'MoTuMoTuMoTu'

In [41]:
'Mo'+('Tu'*3)

'MoTuTuTu'

In [45]:
numbers = [6, 9, 4, 22]
min(numbers)

4

In [46]:
pets.append('guinea pig')
pets

['goldfish', 'cat', 'dog', 'guinea pig']

In [49]:
pets.reverse()
pets

['guinea pig', 'dog', 'cat', 'goldfish']

In [51]:
pets.sort()
pets

['cat', 'dog', 'goldfish', 'guinea pig']

In [53]:
lst = [4, 2, 8, 5]
lst.sort()
lst

[2, 4, 5, 8]

In [71]:
# 2.7 (a)
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2] 
grades[7]

6

In [74]:
# (b)
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2] 
grades.remove(2)
grades.insert(8,4)
grades

[9, 7, 7, 10, 3, 9, 6, 6, 4]

In [76]:
# (c)
max(grades)

10

In [78]:
# (d)
grades.sort()
grades

[3, 4, 6, 6, 7, 7, 9, 9, 10]

In [85]:
# (e)
sum(grades) / len(grades)

6.777777777777778

In [80]:
type([1, 1, 2, 3, 5, 8])

list

In [83]:
a = 3
type(a)

int

In [86]:
# 2.8 (a)
((2 + 3) == 4) or (a >= 5)

False

In [87]:
# (b)
(((lst[1]) * (-3)) < (-10)) == 0

False

In [88]:
# (c)
(((lst[1]) * (-3)) < (-10)) in [0, True]

True

In [89]:
# (d)
2 * (3**2)

18

In [90]:
# (e)
(4 / 2) in [1, 2, 3]

True

In [96]:
# 2.9 (a)
type(False + False)

int

In [95]:
# (b)
type(2 * 3**2.0)

float

In [98]:
# (c)
type(4 // 2 + 4 % 2)

int

In [97]:
# (d)
type(2 + 3 == 4 or 5 >= 5)

bool

In [107]:
# 2.10 (a)
import math
a = int(input("Enter the value of the a "))
b = int(input("Enter the value of the b "))
c = math.sqrt(a**2 + b**2)
print(c)

Enter the value of the a 3
Enter the value of the b 4
5.0

In [110]:
# (b)
import math
a = int(input("Enter the value of the a "))
b = int(input("Enter the value of the b "))
c = math.sqrt(a**2 + b**2) ==5
print(c)

Enter the value of the a 5
Enter the value of the b 6
False

In [112]:
# (c)
from math import pi
a = int(input("Enter the value of a "))
b = math.pi * a**2
print(b)

Enter the value of a 2
12.566370614359172

In [116]:
# (d)
a = int(input("Enter the value of a "))
b = int(input("Enter the value of b "))
x = int(input("Enter the value of x "))
y = int(input("Enter the value of y "))
r = int(input("Enter the value of r "))
cen = (x - a)**2 + (y - b)**2 < r**2
print("Is the circle is inside the center?",cen)

Enter the value of a 100
Enter the value of b 200
Enter the value of x 109
Enter the value of y 50
Enter the value of r 80
Is the circle is inside the center? False

In [7]:
# 2.11

lst = [-1,-2,-3,-4,-5,-6,-7]
print('a)',sum(lst))
print('b)',((17*9)+(24*10)+(21*11)+(27*12))/(17+24+21+27))
print('c)',2**(-20))
print('d)',4356//61)
print('e)',4356%61)

a) -28
b) 10.651685393258427
c) 9.5367431640625e-07
d) 71
e) 25

In [8]:
#2.12
s1 = '+'
s2 = '-'
print('a)',s2+s1)
print('b)',s2+s1+s2)
print('c)',s1+s2+s2)
print('d)',2*(s1+s2+s2))
print('e)',10*(s1+s2+s2)+s1)
print('f)',5*(s1+s2+3*s1+2*s2))

a) -+
b) -+-
c) +--
d) +--+--
e) +--+--+--+--+--+--+--+--+--+--+
f) +-+++--+-+++--+-+++--+-+++--+-+++--

In [9]:
#2.13
s = 'abcdefghijklmnopqrstuvwxyz'
print(s[0])
print(s[2])
print(s[25])
print(s[24])
print(s[16])

a
c
z
y
q

In [12]:
#2.14
s = 'goodbye'
print('a)',s[0]=='g')
print('b)',s[6]=='g')
print('c)',s[0]=='g' and s[1]=='a')
print('d)',s[-2]=='x')
print('e)',s[3]=='d')
print('f)',s[0]==s[-1])
print('g)',s[1]+s[2]+s[3]+s[4]=='tion')

a) True
b) False
c) False
d) False
e) True
f) False
g) False

In [13]:

#2.15
a = 'anachronistically'
b = 'counterintuitive'
print("number of character in anachronistically is : " +str(len(a)))
print("number of character in counterintuitive is : " +str(len(b)))
print("The number of characters in the word anachronistically is " +str(len(a)-len(b))+ " more than the number of characters in the word counterintuitive" )

dictionary = ['misrepresentation', 'misinterpretation' ] 
dictionary.sort()
print("\n\nsorting of dictionary gives words in this order ") 
print(dictionary )

word='floccinaucinihilipilification' 
print("\n\nnumber of time e appear in floccinaucinihilipilification is " +str(word.count("e")))

word1='counterrevolution' 
word2='counter' 
word3='resolution'
print("\n\nnumber of character in counterrevolution is :" +str(len(word1)) ) 
print("sum of number of character in counter and resolution is :" +str(len(word2)+(len( word3) )))

number of character in anachronistically is : 17
number of character in counterintuitive is : 16
The number of characters in the word anachronistically is 1 more than the number of characters in the word counterintuitive


sorting of dictionary gives words in this order
['misinterpretation', 'misrepresentation']


number of time e appear in floccinaucinihilipilification is 0


number of character in counterrevolution is :17
sum of number of character in counter and resolution is :17

In [14]:
#2.16
a = 6
b = 7
c = (a+b)/2

inventory = ['paper','pencil','staples']

first = 'John'
middle = 'Fitzgerald'
last = 'Kennedy'
fullname = (first+" "+middle+" "+last)
print(fullname)

John Fitzgerald Kennedy

In [15]:
#2.17
print('a)',((17-9)<10))
print('b)',len(inventory)==5*len(fullname))
print('c)',c <= 24)
print('d)',6.75 > a and 6.75 < b)
print('e)',len(middle)>len(first) and len(middle)<len(last))
print('f)',len(inventory)==0 or len(inventory)>10)

a) True
b) False
c) True
d) True
e) False
f) False

In [33]:
#2.18
flowers = ['rose', 'bougainvillea','yucca', 'marigold', 'daylilly','lilly of the valley']
print('a)',flowers)
print('b)','potato' in flowers)
thorny=flowers[:3]
print('c)',thorny)
poisnous = flowers[-1]
print('d)',poisnous)

a) ['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley']
b) False
c) ['rose', 'bougainvillea', 'yucca']
d) lilly of the valley

In [18]:
#2.19
answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N']
numYes=answers.count('Y')
print('a)',numYes)
numNo=answers.count('N')
print('b)',numNo)
PercentYes=(numYes/len(answers))*100
print('c)',PercentYes,'%')
answers.sort()
print('d)',answers)
f = answers.count('N')
print('e)',"at",f,answers[f],"will occur for the first time")

a) 5
b) 6
c) 45.45454545454545 %
d) ['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']
e) at 6 Y will occur for the first time

In [19]:
#2.20
s = 'pot'
print(s[::-1])

top

In [20]:
#2.21
s = 'Adnan'
t = 'Samad'
print(s[0]+t[0])

AS

In [23]:
#2.22
lst = [3, 7, -2, 12]
print(max(lst)-min(lst))

14

In [24]:
#2.23
#programming Question # 4

monthsL=['Jan', 'Feb','Mar', 'May' ] 
monthsT=('Jan', 'Feb','Mar', 'May')
print("List monthsL : " +str(monthsL) ) 
print("Tuple monthsT: " +str(monthsT) )

monthsL.append("Jun")
#monthsT.append("jun")
print("\n\nAfter applying append on list monthsL: " +str(monthsL) ) 
print("append gave error on tuple monthsT")

monthsL.insert(3, "Apr")
#monthsT. insert (3, “Apr” )
print("\n\nInserting in list monthsL: " +str(monthsL) ) 
print("insert gave error on tuple monthsT")


monthsL.pop()
#monthsT.pop() ;
print("\n\nAfter applying pop on list monthsL : " +str(monthsL) ) 
print("Insert gave error on tuple monthsT")


monthsL.remove("Feb" )
#monthsT.remove("Feb")
print("\n\nremoving item on list monthsL" +str(monthsL) ) 
print("removing item gave error on tuple MonthsT")


monthsL.reverse() 
#monthsT.reverse() 
print("\n\nreverse on list monthsL" +str(monthsL) ) 
print("reverse command gave error on tuple monthsT")


monthsL.sort()
#monthsT.sort()
print("\n\nsorting on list monthsL" +str(monthsL) )
print("sorting gave error in tuple monthsT")

List monthsL : ['Jan', 'Feb', 'Mar', 'May']
Tuple monthsT: ('Jan', 'Feb', 'Mar', 'May')


After applying append on list monthsL: ['Jan', 'Feb', 'Mar', 'May', 'Jun']
append gave error on tuple monthsT


Inserting in list monthsL: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
insert gave error on tuple monthsT


After applying pop on list monthsL : ['Jan', 'Feb', 'Mar', 'Apr', 'May']
Insert gave error on tuple monthsT


removing item on list monthsL['Jan', 'Mar', 'Apr', 'May']
removing item gave error on tuple MonthsT


reverse on list monthsL['May', 'Apr', 'Mar', 'Jan']
reverse command gave error on tuple monthsT


sorting on list monthsL['Apr', 'Jan', 'Mar', 'May']
sorting gave error in tuple monthsT

In [25]:
#2.24
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']
count = [grades.count('A'),grades.count('B'),grades.count('C'),grades.count('D'),grades.count('F')]
print(count)

[4, 4, 2, 2, 1]

In [26]:
#2.25
grades = ('B','B','F','C','B','A','A','D','C','D','A','A','B')
count = [grades.count('A'),grades.count('B'),grades.count('C'),grades.count('D'),grades.count('F')]
print(count)

[4, 4, 2, 2, 1]

In [27]:
#2.26
from math import sqrt

r = 10

x=0
y=0
distance = sqrt(x**2+y**2)
print("dart has x cordinate " +str(x)+ " and y cordinate " +str(y))
if distance < r :
    print("Dart has hit within the dartboard")
    
if distance > r :
    print("Dart has hit outside the dartboard")
    
x=10
y=10
distance = sqrt(x**2+y**2)
print("\ndart has x cordinate " +str(x)+ " and y cordinate " +str(y))
if distance < r :
    print("\Dart has hit within the dartboard")
    
if distance > r :
    print("Dart has hit outside the dartboard") 
    
x=6
y=6
distance = sqrt(x**2+y**2)
print("\ndart has x cordinate " +str(x)+ " and y cordinate " +str(y))
if distance < r :
    print("\Dart has hit within the dartboard")
    
if distance > r :
    print("Dart has hit outside the dartboard") 
    
x=7
y=8
distance = sqrt(x**2+y**2)
print("\ndart has x cordinate " +str(x)+ " and y cordinate " +str(y))
if distance < r :
    print("\Dart has hit within the dartboard")
    
if distance > r :
    print("Dart has hit outside the dartboard")

dart has x cordinate 0 and y cordinate 0
Dart has hit within the dartboard

dart has x cordinate 10 and y cordinate 10
Dart has hit outside the dartboard

dart has x cordinate 6 and y cordinate 6
\Dart has hit within the dartboard

dart has x cordinate 7 and y cordinate 8
Dart has hit outside the dartboard

In [28]:
#2.27
#Programming Exercise Question 2
from math import sin
from math import pi
l1=(16)
l2=(20)
l3=(24)
l4=(24)
a1=(75)
a2=(0)
a3=(45)
a4=(80)
#Height for 1st Ladder
radians = pi * a1/180
h1=l1*sin(radians)
print("For length 16 and angle 75 degree height is :" +str(h1)) 
#Height for 2nd Ladder
radians = pi * a2/180
h2=l2*sin(radians)
print("For length 20 and angle @ degree height is :" +str(h2))
#Height for 3rd Ladder
radians = pi * a3/180
h3=l3*sin(radians )
print("For length 24 and angle 45 degree height is :" +str(h3)) 
#Height for 4th Ladder
radians = pi * a4/180
h4=l4*sin(radians)
print("For length 24 and angle 80 degree height is :" +str(h4))

For length 16 and angle 75 degree height is :15.454813220625093
For length 20 and angle @ degree height is :0.0
For length 24 and angle 45 degree height is :16.97056274847714
For length 24 and angle 80 degree height is :23.63538607229299

In [29]:
#2.28
#programming Question # 3

list = [1,2,3,4,5] 
middleindex = (len(list)-1)/2 
print("Middle Index Value of list is :" +str(middleindex) )

midvalue = list[int(len(list)/2)]
print("Middle value of List is : "+str(midvalue) )

sort = sorted(list,reverse=True)
print("Reverse sorted value of list : " +str(sort))

b= list.pop(0) 
c=list.append(1) 
print("Removing first element and putting it in the end :" +str(list))

Middle Index Value of list is :2.0
Middle value of List is : 3
Reverse sorted value of list : [5, 4, 3, 2, 1]
Removing first element and putting it in the end :[2, 3, 4, 5, 1]

In [30]:
#2.29
print('a)',bool(0==(1==2))) # since 0 = false and 1==2 = false , so that is false = false that is true
print('b)',bool(2+(3==4)+5)) 
print('c)',bool(1<-1)==(3>4))# since false==false , it is true

a) True
b) True
c) True

In [ ]:
#2.30
x = 'Adnan Samad'
y = list(x)

In [32]:
#2.31
lst=[2,3,4]
lst.extend([5,6])
print("Extend Command : " +str(lst))
print ("Entend Command Adds Number in the list")

lst2=lst.copy()
print("copy command : " +str(lst2))
print("Copy Command Copy list to new list")

lst.clear()
print("clear command :" +str(lst))
print("clear command clear the list")

Extend Command : [2, 3, 4, 5, 6]
Entend Command Adds Number in the list
copy command : [2, 3, 4, 5, 6]
Copy Command Copy list to new list
clear command :[]
clear command clear the list